.page-content
  %header.row
    %h1.medium-12.columns Add New Account

  %section.row{ role: 'main' }
    = simple_form_for [:admin, @account] do |f|
      .hide
        = f.input :email, as: :hidden
        = f.input :password, as: :hidden

      .medium-12.columns
        = f.input :name,
          required: true,
          input_html: { autocomplete: :off }
      .medium-12.columns
        = f.input :email,
          as: :email,
          required: true,
          input_html: { autocomplete: :off }
      .medium-12.columns
        = f.input :password,
          as: :password,
          required: true,
          input_html: { autocomplete: :off }
      .medium-12.columns
        = f.input :role,
          as: :select,
          required: true,
          collection: enum_to_select_options_array(Account.roles),
          include_blank: 'Please select role',
          input_html: { data: { behavior: 'toggleElement', target: '#program', visible: 'program_manager viewer' } }
      .medium-12.columns.hide#program
        = f.input :program_id,
          as: :select,
          required: true,
          collection: Program.with_partner_and_country,
          include_blank: 'All Programs',
          prompt: 'Please select program'
      .medium-12.columns= f.button :submit, class: 'button radius'
