%tr
  %td= link_to project.deployment_code, map_project_path(project)
  %td= project.status
  %td= project.country
  %td= project.region
  %td= project.district
  %td= project.community_name
  %td= project.site_name