.page-content
  %header.row
    %h1.medium-12.columns Edit Vehicle

  %section.row{ role: 'main' }
    = simple_form_for @vehicle do |f|
      .medium-12.columns
        = f.input :esn,
          required: true,
          input_html: { autocomplete: :on }
      .medium-12.columns
        = f.input :vehicle_type,
          required: true,
          input_html: { autocomplete: :on }
      .medium-12.columns
        = f.input :program_id,
          as: :select,
          required: false,
          collection: Program.with_partner_and_country,
          include_blank: 'Please select program'
      .medium-12.columns= f.button :submit, class: 'button radius'
